* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header, main{
  padding-top: 72px;
  padding-bottom: 72px;
}

main{
  background-color: #666666;
}

p{
  font-size: 1.25rem;
  line-height: 1.5;
}

.intro-chunk{
  padding-left: 24px;
  padding-right: 24px;
  max-width: 500px;

  .title{
    margin-bottom: 50px;
  }

  strong{
    color: #009966;
  }
}

.max-width-wrapper{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.card{
  background-color: #fff;
  padding: 8px 24px 24px;
}

.indented-heading{
  background-color: #FFBF00;
  padding: 16px 32px;
  max-width: fit-content;
  border-bottom: 8px solid #CC9900;
  margin-left: -34px;
  margin-top: 0;
}

header, .card{
  border-bottom: 8px solid #999999;
}
